[user]
	name = FishSay
	email = lshuhe@qq.com
[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	quotepath = false
[alias]
	cmt = commit
	pom = push origin master
	ctm = commit -m
