@font-face {
    font-family: "pingfangMedium";
    src: url("fonts/PINGFANG_MEDIUM.TTF");
}

body,
button,
input,
select,
textarea {
    font-family: pingfangMedium, arial, sans-serif !important;
}

.pingfangMedium {
    font-family: pingfangMedium, arial, sans-serif !important;
}